.review{
    width: 64%;
    font-family: 'Microsoft JhengHei',sans-serif;
    font-weight: 800;
    margin: 100px auto 190px;  
}
.review h2{
    color: white;
    line-height: 65px;
}
.reviewTitle h1{
    color: white;
    font-size: 55px;
    margin-left: 50px;
}
.reviewTitle #pencil{
    height: 65px;
    float: left;
}
.nameID h2{
    color: white;
    margin-top: 60px;
}
.nameID #users{
    width: 50px;
    float: left;
}